#container-main {
    background-image: url('../images/image2.jpg'); /* chemin vers votre image */
    background-repeat: no-repeat;           /* pas de répétition */
    background-position: center center;     /* centre l’image */
    background-size: cover;                 /* l’image couvre le conteneur en conservant son ratio */
  }

  #container-main {
    background-attachment: fixed;
  }